#antonio-zuza {
    background-image: url('./images/artists/antonio-zuza-r.jpg');
}
#big-danny-cane {
    background-image: url('./images/artists/big-danny-kane-b.jpg');
}
#carlito {
    background-image: url('./images/artists/carlito-r.jpg');
}
#dean-sunshine {
    background-image: url('./images/artists/dean-sunshine-p.jpg');
}
#dj-oz {
    background-image: url('./images/artists/dj-oz-b-2.jpg');
}
#elephant-hump {
    background-image: url('./images/artists/Elephant-Hump-b.jpg');
}
#felver {
    background-image: url('./images/artists/felver-r.jpg');
}
#hrwoe {
    background-image: url('./images/artists/hrwoE-p.jpg');
}
#ilija-rudman {
    background-image: url('./images/artists/ilija-rudman-r.jpg');
}
#ilko-cuic {
    background-image: url('./images/artists/ilko-culic-r.jpg');
}
#iva {
    background-image: url('./images/artists/IVA-r.jpg');
}
#jack-tyson-charles {
    background-image: url('./images/artists/jack-tyson-charles-r.jpg');
}
#kozmonaut {
    background-image: url('./images/artists/kozmonaut-b.jpg');
}
#lukadelux {
    background-image: url('./images/artists/lukadelux-b.jpg');
}
#mate-kokic {
    background-image: url('./images/artists/mate-kokic-b.jpg');
}
#matija-duic {
    background-image: url('./images/artists/matija-duic-p.jpg');
}
#mile {
    background-image: url('./images/artists/mile-b.jpg');
}
#nick-colgan {
    background-image: url('./images/artists/nick-p.jpg');
}
#pepi-jogarde {
    background-image: url('./images/artists/pepi-r.jpg');
}
#phil-mison {
    background-image: url('./images/artists/phil-mison-b.jpg');
}
#pips {
    background-image: url('./images/artists/pips-r.jpg');
}
#sergio {
    background-image: url('./images/artists/sergio-b.jpg');
}
#tipura {
    background-image: url('./images/artists/tipura-b.jpg');
}
#william-collins {
    background-image: url('./images/artists/william-collins-b.jpg');
}
#your-name {
    background-image: url('./images/artists/your-name-r.jpg');
}
#zak {
    background-image: url('./images/artists/ZAK-p.jpg');
}
#zozo {
    background-image: url('./images/artists/zozo-b.jpg');
}

#dj-brka {
    background-image: url('./images/artists/dj-brka-r.jpg');
}
#leftfoot-dj {
    background-image: url('./images/artists/leftfoot-p.jpg');
}