@media only screen and (min-width: 1601px) {
    #intro {
        p {
            max-width: 70%;
        }
    }
    .artist-info {
        height: 906px;
        .bg-img-container {
            height: 900px;
        }
        .info-zip-container {
            p {
                font-size: 24px;
                max-height: 598px;
                a {
                    font-size: 24px;
                }
                span {
                    line-height: 38px;
                }
            }
        }
        .book-now {
            bottom: 50px;
        }
    }
}



///EXTRA LARGE///
///
//
@media only screen and (min-width: 2501px) {
    #intro {
        p {
            max-width: 60%;
        }
    }
    .artist-info {
        height: 906px;
        .bg-img-container {
            height: 900px;
        }
        p {
            font-size: 24px;
        }
        .book-now {
            bottom: 50px;
        }
    }
}