//bgc
.bg-gradient {
    background-image: $bg-gradient;
}

//text-formating
.main-title {
    font-family: $bungee;
    font-weight: 400;
    font-size: 72px;
    color: white;
    @media only screen and (max-width: 768px) {
        font-size: 58px;
    }
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        font-size: 64px;
    }
}

.paragraf {
    font-family: $bitter;
    font-size: 18px;
    line-height: 24px;
    color: white;
    @media only screen and (max-width: 768px) {
        font-size: 18px;
        line-height: 24px;
    }
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        font-size: 18px;
        line-height: 24px;
    }
}

.strong-paragraf {
    font-family: $bitter;
    font-weight: 700;
    font-style: italic;
    font-size: 24px;
    line-height: 34px;
    color: white;
    @media only screen and (max-width: 768px) {
        font-size: 20px;
        line-height: 26px;
    }
    @media only screen and (min-width: 769px) and (max-width: 1024px) {
        font-size: 20px;
        line-height: 26px;
    }
}

.pink-text {
    color: $pink;
}

//left padding
.pl-small {
    padding-left: 100px;
}
.pl-title {
    padding-left: 250px;
}
.pl-text {
    padding-left: 430px;
}

@media only screen and (max-width: 768px) { ////MOBILE
    .pl-small {
        padding-left: 10px;
    }
    .pl-title {
        padding-left: 10px;
    }
    .pl-text {
        padding-left: 10px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) { ///SMALL
    .pl-small {
        padding-left: 30px;
    }
    .pl-title {
        padding-left: 100px;
    }
    .pl-text {
        padding-left: 100px;
    }
}

//bg-color
.bg-blue {
    background-color: $blue;
}
.bg-red {
    background-color: $red;
}
.bg-pink {
    background-color: $pink;
}



//artist red - button blue
//artist blue - button pink
//artist pink - button red

// <700 - mobile
// 701 - 1024 - small
// 1025 - 1600 ? - medium
// >1601 - large