@media only screen and (max-width: 700px) {
    
    #closed-menu-mobile {
        display: block;   // hide na klik

        text-align: right;
        height: 50px;
        padding-top: 20px;
        padding-right: 20px;
        div {
            display: inline;
            font-family: $bungee;
            font-size: 18px;
            font-weight: 400;
            color: $red;
            text-decoration: none;
            margin-right: 15px;
        }
        button {
            cursor: pointer;
            background: white;
            border: none;
        }
    }
    
    header {
        
        display: none; //na otvaranju stranice, otvara se na klik na #closed-menu-mobile

        height: 260px;
        nav ul {
            li {
                padding: 6px 30px 6px 25%;
                border-bottom: $bb solid $blue;
                text-align: right;
                
                //button za zatvaranje menija
                #close-menu-mobile {
                    display: inline-block;

                    border: none;
                    background-color: white;
                    cursor: pointer;
                    &:active {
                        background-color: $red;
                        color: $red;
                        border-radius: 6px;
                    }
                }
                a {
                    font-family: $bungee;
                    font-size: 15px;
                    font-weight: 400;
                    color: $blue;
                    text-decoration: none;
                    &:hover {
                        color: $red;
                    }
                    position: relative;
                    z-index: 101;
                }
            }
        }
        .logo {
            img {
                width: 230px;
                position: relative;
                z-index: 100;
            }
        }
    }
    // header & navigation end

    //main start
    #intro {
        padding-right: 10px;
        background-size: 60px;
        p {
            max-width: 100%;
        }
    }

    //events start
    //events box
    .events-container {
        padding-bottom: 50px;
        &:first-of-type {
            padding-top: 100px;
        }
        &:last-of-type {
            padding-bottom: 100px;
        }
    }
    //date and place
    .events-date {
        font-family: $bitter;
        font-size: 26px;
        font-weight: 500;
        color: #FFF;
        letter-spacing: 3%;
        line-height: 39px;
        text-transform: uppercase;
        margin-bottom: 8px;
    }
    .events-place, .events-place a {
        font-family: $bitter;
        font-size: 14px;
        font-weight: 800;
        line-height: 22px;
        letter-spacing: 3%;
        color: #FFF;
        margin-bottom: 8px;
        text-decoration: none;
    }
    //name and button
    .events-info {
        display: block;
    }
    //left side
    .events-name {
        width: 100%; // jer inače preuzima širinu flex itema na većim zaslonima
        max-width: 100%; 
        font-family: $bungee;
        font-weight: 400;
        font-size: 48px;
        line-height: 58px;
        word-wrap: break-word;
        color: #FFF;
    }
    //right side
    .events-button {
        width: 100%; // jer inače preuzima širinu flex itema
        position: relative;
        button {
            margin-top: 10px;
            margin-left: 0px;
            position: static;
        }
        a {
            padding-top: 16px;
            padding-bottom: 16px;
            text-align: center;
            text-decoration: none;
            font-family: $bitter;
            font-weight: 900;
            font-size: 18px;
            letter-spacing: 5%;
            color: $blue;
        }
    }
    //events end


    /////ARTISTS//////
    /// 
    .artist-name {
        font-size: 22px;
    }
    .artist-info {
        height: 1000px;
        .bg-img-container {
            margin-left: 0;
            height: 500px;
            background-size: auto 100%;
            width: 100%;
            padding-bottom: 0px;
            p {
                margin: 0;
                padding: 510px 30px 0 30px;
                max-height: 910px;
                font-size: 18px;
            }
            button {
                display: block;
                margin: 15px 0 0 30px;
            }
            div {
                width: 100%;
                margin: 0;
                bottom: 30px
            }
        }
    }


    footer {
        .info {
            max-width: 100%;
            font-size: 18px;
        }
    }
}