@keyframes wheel-rotation {
    100% {transform: rotate(360deg);}
}

#radio-header {
    position: relative;
    height: 400px;
    padding-top: 140px;
    background: url('./images/prugasto-sunce.svg') no-repeat center bottom/40% fixed, linear-gradient(180deg, #FFBD85, #FFAAB1 75%, #FF97DF 100%);
    padding-left: 10%;
    padding-right: 10%;
    a {
        position: absolute;
        top: 4%;
        right: 5%;
    }
}

#radio-player {
    background-color: $red;
    padding-top: 30px;
    padding-bottom: 40px;

    #player {
        #frame {
            display: flex;
            justify-content: center;
            position: relative;

            height: 500px;
            background-image: url(./images/radio.svg);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: auto 80%;

            iframe {
                width: 500px;
                height: 100px;
                position: absolute;
                top: 159px;
                background-color: $red;
            }
        }
    }
    
    p {
        width: 40%;
        margin: 30px auto;
    }
}

#music-library {
    background-color: $sand;
    h4 {
        color: $blue;
        padding-top: 60px;
        padding-bottom: 80px;
        padding-right: 10%;
    }
    .wheels-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-bottom: 100px;
        padding-left: 50px;
        padding-right: 50px;
        #wheel-1 {
            // flex-shrink: 0;
            width: 290px;
            height: 290px;

            animation-name: wheel-rotation;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
        #wheel-2 {
            // flex-shrink: 0;
            width: 290px;
            height: 290px;
            
            animation-name: wheel-rotation;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            }
        p {
            color: $red;
            margin-left: 50px;
            margin-right: 50px;
            width: 43%;
            flex-shrink: 0;
        }
    }
    form {
        width: 100%;
        display: block;
        #contact-item-container {
            margin-bottom: 100px;
            .contact-item {
                display: block;
                margin-left: 230px;
                margin-right: 230px;
                padding-bottom: 5px;
                border-bottom:  $bb solid $blue;
                margin-bottom: 30px;
                label {
                    margin-left: 20px;
                    margin-right: 10px;
                    font-size: 20px;
                    font-weight: 500;
                    font-family: $bitter;
                    color: $blue;
                }
                input {
                    background-color: $sand;
                    box-shadow: none;
                    border: none;

                    font-size: 20px;
                    font-weight: 500;
                    font-family: $bitter;
                    color: $blue;
                    &:focus {
                        outline: none;
                    }
                }
            }
        }
        button {
            height: 90px;
            width: 100%;
            background-color: $blue;
            border: none;
            box-shadow: none;

            font-family: $bungee;
            font-size: 60px;
            font-weight: 400;
            text-transform: uppercase;
            color: white;
            
            &:hover {
                cursor: pointer;
                background-color: $pink;
            }
            div {
                margin: auto;
                padding: 6px;
            }
        }
        #rs-submit-message {
            display: none;
            height: 90px;
            text-align: center;
            background-color: $red;
            div {
                padding: 6px;
                line-height: 90px;
            }
        }
    }
}
//////MAIN RADIO SHOW END ////////////////



//////////LARGE//////////////
@media only screen and (min-width: 1601px) {
    #radio-header {    
        height: 500px;
        padding-top: 190px;
        background: url('./images/prugasto-sunce.svg') no-repeat center 450px/40% fixed, linear-gradient(180deg, #FFBD85, #FFAAB1 75%, #FF97DF 100%);
    }
    #music-library {
        h4 {
            margin-right: 30%;
        }
        .wheels-container {
            padding-bottom: 100px;
            padding-left: 100px;
            padding-right: 100px;
            #wheel-1 {
                width: 400px;
                height: 400px;
            }
            #wheel-2 {
                width: 400px;
                height: 400px;
                }
            p {
                margin-left: 20px;
                margin-right: 20px;
                padding-top: 50px;
            }
        }
    }
}
/////LARGE END///////



//////////SMALL//////////////
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    #radio-header {    
        height: 400px;
        padding-top: 150px;
        background: url('./images/prugasto-sunce.svg') no-repeat bottom center/50% fixed, linear-gradient(180deg, #FFBD85, #FFAAB1 75%, #FF97DF 100%);
    }

    #radio-player {
        p {
            width: 50%;
        }
    }

    #music-library {
        h4 {
            padding-left: 100px;
        }
        .wheels-container {
            padding-right: 100px;
            padding-left: 100px;
            justify-content: space-around;
            flex-wrap: wrap;
            #wheel-1 {
                width: 40%;
                height: 40%;
            }
            #wheel-2 {
                width: 40%;
                height: 40%;
            }
            p {
                order: 3;
                width: 100%;
                margin-left: 100px;
                margin-right: 100px;
                margin-top: 50px;
                font-size: 18px;
            }
        }
        form {
            #contact-item-container {
                .contact-item {
                    margin-left: 100px;
                    margin-right: 100px;
                }
            }           
        }
    }
}
////SMALL END/////



////MOBILE////
@media only screen and (max-width: 768px) {
    #radio-header {
        position: relative;
    
        padding-top: 70px;
        padding-left: 30px;
        padding-right: 30px;
        
        height: 200px;
        background: url('./images/prugasto-sunce.svg') no-repeat center bottom/60%, linear-gradient(180deg, #FFBD85, #FFAAB1 75%, #FF97DF 100%);
        a {
            width: 50px;
            height: 50px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    #radio-player {
        background-color: $red;
        padding-top: 20px;
        padding-bottom: 0px;
    
        #player {
            #frame {
                display: flex;
                justify-content: center;
                position: relative;
                background-image: none;
                height: 180px;
                margin-bottom: 20px;
    
                iframe {
                    width: 95%;
                    height: 170px;
                    position: absolute;
                    top: 10px;
                    background-color: $red;
                }
            }
        }
        
        p {
            width: 100%;
            margin: 20px 0;
            padding-left: 10px;
            padding-right: 10px;

            &:last-of-type {
                margin-bottom: 20px;
            }
            &:last-of-type::after {
                content: '';
                display: block;
                height: 200px;
                margin-left: -10px;
                margin-right: -10px;
                background-image: url(./images/radio.svg);
                background-position: center bottom;
                background-repeat: no-repeat;
                background-size: auto 80%;
            }
        }
    }


    #music-library {
        background-color: $sand;
        h4 {
            background-color: $red;
            padding: 20px 10px;
            font-size: 42px;
            color: $sand;
        }
        .wheels-container {
            width: 100%;
            display: flex;
            justify-content: space-around;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 0px;
            flex-wrap: wrap;
            background-color: $red;
            #wheel-1 {
                flex-shrink: 0;
                width: 30%;
                height: 30%;
            }
            #wheel-2 {
                flex-shrink: 0;
                width: 30%;
                height: 30%;
                }
            p {
                background-color: $sand;
                margin-top: 50px;
                margin-left: 0px;
                margin-right: 0px;
                padding: 30px 10px 50px 10px;
                color: $red;
                font-size: 16px;
                line-height: 24px;

                order: 3;
                width: 100%;
            }
        }
        form {
            #contact-item-container {
                margin-bottom: 40px;
                padding-right: 10px;
                padding-left: 10px;
                .contact-item {
                    display: block;
                    margin-left: 0px;
                    margin-right: 0px;
                    label {
                        display: block;
                        margin-left: 0px;
                        margin-right: 0px;
                        font-size: 18px;
                    }
                    input {
                        width: 100%;        
                        font-size: 16px;
                    }
                }
            }
            button {
                min-height: 70px;
                font-size: 38px;
            }
            #rs-submit-message {
                display: none;
                min-height: 70px;
                div {
                    line-height: 85px;
                    font-size: 13px;
                    padding: 0 6px;
                }
            }
        }
    }
}