@media only screen and (min-width: 769px) and (max-width: 1024px) {
    //header & navigation
    header {
        nav ul {
            li {
                padding-left: 400px; /* udaljenost teksta od lijeve margine */
            }
        }
    }
    // header & navigation end
    
    //pomaknut paragraf više udesno
    #intro {
        h2 {
            padding-right: 30px;
        }
    }
    
    //events start
    //events box
    .events-container {
        margin-bottom: 30px;
    }
    //date and place
    .events-date {
        font-size: 28px;
        margin-bottom: 8px;
    }
    .events-place, .events-place a {
        font-size: 16px;
        margin-bottom: 8px;
    }
    //name and button
    .events-info {
        display: flex;
    }
    //left side
    .events-name {
        font-size: 52px;
        line-height: normal;
    }
    //right side
    .events-button {
        button {
            right: 30px;
        }
    }
    //events end

    
    /////ARTISTS//////
    /// 
    .artist-name {
        font-size: 22px;
    }
    .artist-info {
        height: fit-content;
        position: relative;
        .info-zip-container {
            position: static;
            margin-top: 10px;
            p {
                margin-bottom: 10px;
                font-size: 18px;
                max-height: 434px;
                padding-right: 10%;
                a {
                    font-size: 18px;
                }
                span {
                    line-height: 28px;
                }
            }
            button {
                margin-left: 30px;
                margin-bottom: 30px;
            }
        }
        .book-now {
            width: 100%;
            height: fit-content;
            margin-top: 0px;    
            position: absolute;
            top: 380px;
            padding-top: 6px;
            padding-bottom: 6px;
            font-size: 60px;
        }
        .bg-img-container {
            margin-left: 0px;
            height: 500px;
            background-size: cover;
            background-position: center;
            background-repeat: repeat-y;
            #felver {
                background-position: right;
            } 
        }
    }
    .banner {
        height: 400px;
        padding-top: 150px;
        background: url('./images/prugasto-sunce.svg') no-repeat center 450px/70% fixed, linear-gradient(180deg, #FFBD85, #FFAAB1 75%, #FF97DF 100%);
    }
    footer {
        height: 240px;
        .info {
            font-size: 18px;
            line-height: 24px;
        }
    }
}