@media only screen and (min-width: 701px) and (max-width: 1024px) {
    //header & navigation
    header {
        nav ul {
            li {
                padding-left: 400px; /* udaljenost teksta od lijeve margine */
            }
        }
    }
    // header & navigation end
    
    //events start
    //events box
    .events-container {
        padding-bottom: 50px;
        &:first-of-type {
            padding-top: 100px;
        }
        &:last-of-type {
            padding-bottom: 100px;
        }
    }
    //date and place
    .events-date {
        font-family: $bitter;
        font-size: 28px;
        font-weight: 500;
        color: #FFF;
        letter-spacing: 3%;
        line-height: 39px;
        text-transform: uppercase;
        margin-bottom: 8px;
    }
    .events-place, .events-place a {
        font-family: $bitter;
        font-size: 18px;
        font-weight: 800;
        line-height: 18px;
        letter-spacing: 3%;
        color: #FFF;
        margin-bottom: 8px;
        text-decoration: none;
    }
    //name and button
    .events-info {
        display: flex;
    }
    //left side
    .events-name {
        width: 65%; //širina flex itema
        font-family: $bungee;
        font-weight: 400;
        font-size: 52px;
        line-height: 70px;
        color: #FFF;
    }
    //right side
    .events-button {
        width: 35%; //širina flex itema
        position: relative;
        button {
            margin-left: 30px;
            position: absolute;
            top: 10px;
            right: 20px;
        }
        a {
            padding-top: 16px;
            padding-bottom: 16px;
            text-align: center;
            text-decoration: none;
            font-family: $bitter;
            font-weight: 900;
            font-size: 18px;
            letter-spacing: 5%;
            color: $blue;
        }
    }
    //events end
}