//boja teksta
$blue: #62CDF9;
$red: #FF7058;
$pink: #FFC8FF;
$jedna-jedina-crvena: #FF2113;
$sand: #FFF5DC;

//main pozadina -> background-image !!
$bg-gradient: linear-gradient(165deg, #FF455E, #FF7C53); 

//fontovi -> font-family
$bungee: 'Bungee Inline', cursive;
$bitter: 'Bitter', serif;

//border-bottom-size
$bb: 6px;