.bg-gradient {
  background-image: linear-gradient(165deg, #FF455E, #FF7C53);
}

.main-title {
  font-family: "Bungee Inline", cursive;
  font-weight: 400;
  font-size: 72px;
  color: white;
  line-height: 72px;
}
@media only screen and (max-width: 768px) {
  .main-title {
    font-size: 58px;
    line-height: 58px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .main-title {
    font-size: 64px;
    line-height: 64px;
  }
}

.musica-al-dente {
  display: block;
  font-family: "Bungee Inline", cursive;
  font-size: 80px;
  font-weight: 400;
  color: white;
  text-align: center;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .musica-al-dente {
    font-size: 38px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .musica-al-dente {
    font-size: 62px;
  }
}

.paragraf {
  font-family: "Bitter", serif;
  font-size: 18px;
  line-height: 26px;
  color: white;
}
@media only screen and (max-width: 768px) {
  .paragraf {
    font-size: 16px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .paragraf {
    font-size: 18px;
    line-height: 26px;
  }
}

.strong-paragraf {
  font-family: "Bitter", serif;
  font-weight: 700;
  font-style: italic;
  font-size: 24px;
  line-height: 34px;
  color: white;
}
@media only screen and (max-width: 768px) {
  .strong-paragraf {
    font-size: 22px;
    line-height: 32px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .strong-paragraf {
    font-size: 24px;
    line-height: 34px;
  }
}
@media only screen and (min-width: 1601px) {
  .strong-paragraf {
    font-size: 28px;
    line-height: 38px;
  }
}
@media only screen and (min-width: 2501px) {
  .strong-paragraf {
    font-size: 28px;
    line-height: 38px;
  }
}

.pink-text {
  color: #FFC8FF;
}

.pl-small {
  padding-left: 100px;
}

.pl-title {
  padding-left: 250px;
}

.pl-text {
  padding-left: 430px;
}

@media only screen and (max-width: 768px) {
  .pl-small {
    padding-left: 10px;
  }
  .pl-title {
    padding-left: 10px;
  }
  .pl-text {
    padding-left: 10px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .pl-small {
    padding-left: 30px;
  }
  .pl-title {
    padding-left: 100px;
  }
  .pl-text {
    padding-left: 100px;
  }
}
.bg-blue {
  background-color: #62CDF9;
}

.bg-red {
  background-color: #FF7058;
}

.bg-pink {
  background-color: #FFC8FF;
}

.btn-pink {
  width: 170px;
  max-width: 100%;
  max-height: 100px;
  background-color: #FFC8FF;
  box-shadow: none;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  font-family: "Bitter", serif;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 5%;
  color: white;
}
.btn-pink:hover {
  background-color: #fff;
  color: #62CDF9;
}

.btn-red {
  width: 170px;
  max-width: 100%;
  max-height: 100px;
  background-color: #FF7058;
  box-shadow: none;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  font-family: "Bitter", serif;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 5%;
  color: white;
}
.btn-red:hover {
  background-color: #fff;
  color: #62CDF9;
}

.btn-blue {
  width: 170px;
  max-width: 100%;
  max-height: 100px;
  background-color: #62CDF9;
  box-shadow: none;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  font-family: "Bitter", serif;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 5%;
  color: white;
}
.btn-blue:hover {
  background-color: #fff;
  color: #62CDF9;
}

#antonio-zuza {
  background-image: url("./images/artists/antonio-zuza-r.jpg");
}

#big-danny-cane {
  background-image: url("./images/artists/big-danny-kane-b.jpg");
}

#carlito {
  background-image: url("./images/artists/carlito-r.jpg");
}

#dean-sunshine {
  background-image: url("./images/artists/dean-sunshine-p.jpg");
}

#dj-oz {
  background-image: url("./images/artists/dj-oz-b-2.jpg");
}

#elephant-hump {
  background-image: url("./images/artists/Elephant-Hump-b.jpg");
}

#felver {
  background-image: url("./images/artists/felver-r.jpg");
}

#hrwoe {
  background-image: url("./images/artists/hrwoE-p.jpg");
}

#ilija-rudman {
  background-image: url("./images/artists/ilija-rudman-r.jpg");
}

#ilko-cuic {
  background-image: url("./images/artists/ilko-culic-r.jpg");
}

#iva {
  background-image: url("./images/artists/IVA-r.jpg");
}

#jack-tyson-charles {
  background-image: url("./images/artists/jack-tyson-charles-r.jpg");
}

#kozmonaut {
  background-image: url("./images/artists/kozmonaut-b.jpg");
}

#lukadelux {
  background-image: url("./images/artists/lukadelux-b.jpg");
}

#mate-kokic {
  background-image: url("./images/artists/mate-kokic-b.jpg");
}

#matija-duic {
  background-image: url("./images/artists/matija-duic-p.jpg");
}

#mile {
  background-image: url("./images/artists/mile-b.jpg");
}

#nick-colgan {
  background-image: url("./images/artists/nick-p.jpg");
}

#pepi-jogarde {
  background-image: url("./images/artists/pepi-r.jpg");
}

#phil-mison {
  background-image: url("./images/artists/phil-mison-b.jpg");
}

#pips {
  background-image: url("./images/artists/pips-r.jpg");
}

#sergio {
  background-image: url("./images/artists/sergio-b.jpg");
}

#tipura {
  background-image: url("./images/artists/tipura-b.jpg");
}

#william-collins {
  background-image: url("./images/artists/william-collins-b.jpg");
}

#your-name {
  background-image: url("./images/artists/your-name-r.jpg");
}

#zak {
  background-image: url("./images/artists/ZAK-p.jpg");
}

#zozo {
  background-image: url("./images/artists/zozo-b.jpg");
}

#dj-brka {
  background-image: url("./images/artists/dj-brka-r.jpg");
}

#leftfoot-dj {
  background-image: url("./images/artists/leftfoot-p.jpg");
}

* {
  overflow-x: hidden;
}

#contract-form-container {
  display: none;
  position: fixed;
  top: 10px;
  left: 5%;
  right: 5%;
  height: 100%;
  z-index: 10000;
  overflow-y: scroll;
  border: 1px solid #62CDF9;
  background-color: white;
  padding: 100px 150px 100px 150px;
}
@media only screen and (max-width: 768px) {
  #contract-form-container {
    left: 2%;
    right: 2%;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #contract-form-container {
    padding: 100px 70px 100px 70px;
  }
}
@media only screen and (max-width: 768px) {
  #contract-form-container {
    padding: 100px 20px 100px 20px;
  }
}
#contract-form-container #contract-form {
  overflow-y: scroll;
}
#contract-form-container h4 {
  font-family: "Bungee Inline", cursive;
  font-weight: 400;
  font-size: 68px;
  color: #FFC8FF;
  margin-bottom: 70px;
}
@media only screen and (max-width: 768px) {
  #contract-form-container h4 {
    font-size: 54px;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 768px) {
  #contract-form-container h4 {
    font-size: 42px;
    word-wrap: break-word;
  }
}
#contract-form-container #close-contract-form {
  display: inline-block;
  position: absolute;
  top: 50px;
  right: 150px;
  width: 36px;
  height: 36px;
  background-color: white;
  border: none;
  box-shadow: none;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #contract-form-container #close-contract-form {
    right: 70px;
  }
}
@media only screen and (max-width: 768px) {
  #contract-form-container #close-contract-form {
    left: 20px;
  }
}
#contract-form-container #close-contract-form:hover {
  cursor: pointer;
  background-color: #FFC8FF;
}
#contract-form-container #close-contract-form:active {
  background-color: #FFC8FF;
}
#contract-form-container .input-item {
  display: flex;
  justify-content: start;
  margin-bottom: 30px;
}
@media only screen and (max-width: 768px) {
  #contract-form-container .input-item {
    flex-wrap: wrap;
  }
}
#contract-form-container label {
  flex-shrink: 0;
  padding-right: 10px;
  margin-top: 4px;
  font-family: "Bitter", serif;
  font-weight: 500;
  font-size: 20px;
  color: #62CDF9;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #contract-form-container label {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  #contract-form-container label {
    font-size: 18px;
    margin-bottom: 3px;
  }
}
#contract-form-container input {
  padding-top: 1px;
  padding-bottom: 1px;
  width: 100%;
  display: block;
  box-shadow: none;
  border: none;
  border-bottom: 3px solid #62CDF9;
  color: #62CDF9;
  font-size: 20px;
  font-weight: 500;
  font-family: "Bitter", serif;
  padding-left: 20px;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #contract-form-container input {
    font-size: 18px;
    border-radius: 0px;
  }
}
@media only screen and (max-width: 768px) {
  #contract-form-container input {
    font-size: 18px;
    padding-left: 5px;
    border-radius: 0px;
  }
}
#contract-form-container input:focus {
  padding-top: 1px;
  padding-bottom: 1px;
  outline: none;
  color: #62CDF9;
  font-size: 20px;
  font-weight: 500;
  font-family: "Bitter", serif;
  padding-left: 20px;
  background-color: white;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #contract-form-container input:focus {
    font-size: 18px;
  }
}
@media only screen and (max-width: 768px) {
  #contract-form-container input:focus {
    font-size: 16px;
    padding-left: 5px;
    background-color: white;
    border-top: 3px solid white;
    color: #62CDF9;
  }
}
#contract-form-container input[type=number]::-webkit-inner-spin-button, #contract-form-container input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
#contract-form-container h6 {
  margin-top: 100px;
  margin-bottom: 30px;
  font-family: "Bitter", serif;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 5%;
  text-transform: uppercase;
  color: #FFC8FF;
}
#contract-form-container p {
  margin-top: 110px;
  margin-bottom: 80px;
  font-family: "Bitter", serif;
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
  color: #62CDF9;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #contract-form-container p {
    font-size: 20px;
    line-height: 26px;
    margin-top: 90px;
  }
}
@media only screen and (max-width: 768px) {
  #contract-form-container p {
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 18px;
    line-height: 26px;
  }
}
#contract-form-container #submit-contract-form {
  display: block;
  height: 100px;
  width: 100%;
  background-color: #62CDF9;
  color: white;
  font-family: "Bungee Inline", cursive;
  font-weight: 400;
  font-size: 64px;
  border: none;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  #contract-form-container #submit-contract-form {
    font-size: 42px;
    position: absolute;
    left: 0px;
  }
}
#contract-form-container #submit-contract-form:hover {
  cursor: pointer;
  background: #FFC8FF;
  color: white;
}
#contract-form-container #submit-contract-form:active {
  cursor: pointer;
  background: #FFC8FF;
  color: white;
}

#main-404 {
  background: url("./images/valic-20x9.svg") center 90%/80px repeat-x, linear-gradient(180deg, #62CDF9 0%, #FF7058 45.83%, #FFC8FF 100%);
  height: 600px;
  padding-top: 150px;
  position: relative;
  z-index: 0;
}
@media only screen and (max-width: 768px) {
  #main-404 {
    background: url("./images/valic-20x9.svg") center 90%/50px repeat-x, linear-gradient(180deg, #62CDF9 0%, #FF7058 45.83%, #FFC8FF 100%);
    padding-top: 30px;
  }
}
#main-404 p {
  position: relative;
  z-index: 2;
  font-family: "Bungee Inline", cursive;
  font-size: 70px;
  font-weight: 400;
  color: white;
}
#main-404 a {
  position: relative;
}
#main-404 img {
  height: 500px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 60%;
}

#closed-menu-mobile {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

header {
  height: 250px;
}
header nav ul {
  list-style-type: none;
}
header nav ul li {
  padding-left: 430px; /* udaljenost glavnog teksta od lijeve margine */
  padding-top: 6px;
  padding-bottom: 6px;
  border-bottom: 6px solid #62CDF9;
}
header nav ul li:first-of-type {
  padding-top: 30px;
}
header nav ul li a {
  font-family: "Bungee Inline", cursive;
  font-size: 18px;
  font-weight: 400;
  color: #62CDF9;
  text-decoration: none;
}
header nav ul li a:hover {
  color: #FF7058;
}
header .logo {
  position: absolute;
  width: 365px;
  top: 0px;
  left: 0px;
  z-index: 100;
}
header .logo img {
  width: 100%;
}

main {
  position: relative;
}

.bg-gradient {
  position: relative;
  max-height: 100%;
  overflow-y: hidden;
}
.bg-gradient #sunce {
  position: absolute;
  left: 250px;
  top: 200px;
  z-index: 0;
}

#intro {
  position: relative;
  max-height: 100%;
  overflow-y: hidden;
  padding-top: 80px;
  padding-bottom: 120px;
  background: url("./images/valic-20x9.svg");
  background-position: bottom;
  background-size: 80px;
  background-repeat: repeat-x;
}
#intro h2 {
  margin-bottom: 50px;
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
}
#intro h2 span {
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
}
#intro p {
  max-width: 80%;
  margin-bottom: 30px;
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
}

.events-container {
  margin-bottom: 50px;
  position: relative;
  z-index: 1;
}
.events-container:first-of-type {
  padding-top: 100px;
}
.events-container:last-of-type {
  padding-bottom: 100px;
  margin-bottom: 0;
}

.events-date {
  font-family: "Bitter", serif;
  font-size: 32px;
  font-weight: 500;
  color: #FFF;
  letter-spacing: 3%;
  line-height: 39px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.events-place, .events-place a {
  font-family: "Bitter", serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 3%;
  color: #FFF;
  margin-bottom: 8px;
  text-decoration: none;
}

.events-info {
  display: flex;
}

.events-name {
  width: 65%;
  font-family: "Bungee Inline", cursive;
  font-weight: 400;
  font-size: 60px;
  line-height: 70px;
  color: #FFF;
}

.events-button {
  width: 35%;
  position: relative;
}
.events-button button {
  margin-left: 30px;
  position: absolute;
  top: 10px;
}
.events-button a {
  text-align: center;
  text-decoration: none;
  font-family: "Bitter", serif;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 5%;
  color: #62CDF9;
}

.artist {
  width: 100%;
  border-bottom: 6px solid white;
}
.artist.red {
  background-color: #FF7058;
}
.artist.blue {
  background-color: #62CDF9;
}
.artist.pink {
  background-color: #FFC8FF;
}
.artist:first-of-type {
  border-top: 6px solid white;
}

.artist-name {
  font-family: "Bitter", serif;
  font-weight: 800;
  font-size: 24px;
  color: #FFF;
  padding-top: 16px;
  padding-bottom: 16px;
}
.artist-name:hover {
  cursor: pointer;
}

.artist-info {
  position: relative;
  border-top: 6px solid white;
  height: 706px;
}
.artist-info .info-zip-container {
  position: absolute;
  top: 50px;
}
.artist-info .info-zip-container p {
  margin-bottom: 15px;
  font-family: "Bitter", serif;
  font-weight: 500;
  font-size: 18px;
  color: white;
  max-height: 446px;
  overflow: hidden;
  padding-right: 40%;
}
.artist-info .info-zip-container p a {
  font-family: "Bitter", serif;
  font-weight: 500;
  font-size: 18px;
  color: white;
}
.artist-info .info-zip-container p span {
  padding: 2px;
  line-height: 30px;
}
.artist-info .info-zip-container p span.red {
  background-color: #ff7058;
  box-shadow: -15px 0 #ff7058, 15px 0 #ff7058;
}
.artist-info .info-zip-container p span.blue {
  background-color: #62cdf9;
  box-shadow: -15px 0 #62cdf9, 15px 0 #62cdf9;
}
.artist-info .info-zip-container p span.pink {
  color: #FF2113;
  background-color: #ffc8ff;
  box-shadow: -15px 0 #ffc8ff, 15px 0 #ffc8ff;
}
.artist-info .info-zip-container button {
  margin-left: 100px;
}
.artist-info .info-zip-container button:hover {
  cursor: pointer;
}
.artist-info .book-now {
  width: 100%;
  margin-top: 30px;
  position: absolute;
  bottom: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: "Bungee Inline", cursive;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  color: white;
}
.artist-info .book-now:hover {
  cursor: pointer;
  background: white;
  color: #62CDF9;
}
.artist-info .bg-img-container {
  margin-left: 250px;
  height: 700px;
  background-size: cover;
  background-position: center;
  background-repeat: repeat-y;
}

.banner {
  height: 400px;
  padding-top: 150px;
  background: url("./images/prugasto-sunce.svg") no-repeat center bottom/40%, linear-gradient(180deg, #FFBD85, #FFAAB1 75%, #FF97DF 100%) fixed;
}

footer {
  display: flex;
  height: 300px;
  align-items: center;
  justify-content: center;
}
footer .info {
  font-family: "Bungee Inline", cursive;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  line-height: 34px;
  color: #FF7058;
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
}
footer .info a {
  color: #FF7058;
  text-decoration: none;
  -webkit-user-select: auto;
     -moz-user-select: auto;
          user-select: auto;
}

@media only screen and (max-width: 768px) {
  * {
    -webkit-text-size-adjust: 100%;
  }
  #closed-menu-mobile {
    display: block;
    height: 50px;
    text-align: right;
    padding-top: 15px;
    padding-right: 20px;
    position: relative;
  }
  #closed-menu-mobile h6 {
    display: block;
    font-family: "Bungee Inline", cursive;
    font-size: 18px;
    font-weight: 400;
    color: #FF7058;
    margin-right: 50px;
    letter-spacing: 1px;
  }
  #closed-menu-mobile button {
    cursor: pointer;
    background: white;
    border: none;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 9px;
  }
  #closed-menu-mobile button img {
    display: inline-block;
    width: 30px;
    height: 30px;
  }
  #open-menu-button {
    display: inline-block;
  }
  #close-menu-button {
    display: none;
  }
  header {
    display: none;
    height: 200px;
    position: relative;
  }
  header nav ul {
    background-color: white;
    width: 100%;
    position: absolute;
    right: 0;
  }
  header nav ul li {
    padding: 6px 20px 6px 0;
    border-bottom: 4px solid #62CDF9;
    text-align: right;
  }
  header nav ul li:first-of-type {
    padding-top: 0px;
  }
  header nav ul li a {
    font-family: "Bungee Inline", cursive;
    font-size: 15px;
    font-weight: 400;
    color: #62CDF9;
    text-decoration: none;
    position: relative;
    z-index: 101;
  }
  header nav ul li a:hover {
    color: #FF7058;
  }
  header .logo img {
    width: 150px;
    position: absolute;
    top: -40px;
    z-index: 100;
  }
}
@media only screen and (max-width: 768px) and (min-width: 400px) and (max-width: 1024px) {
  header .logo img {
    width: 280px;
  }
}
@media only screen and (max-width: 768px) {
  #intro {
    padding-right: 5%;
    background-size: 40px;
    padding-top: 30px;
    padding-bottom: 40px;
  }
  #intro h2 {
    line-height: 60px;
    margin-bottom: 30px;
  }
  #intro p {
    max-width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .events-container {
    padding-right: 10px;
    padding-bottom: 0px;
  }
  .events-container:first-of-type {
    padding-top: 50px;
  }
  .events-container:last-of-type {
    padding-bottom: 60px;
  }
}
@media only screen and (max-width: 768px) {
  .events-date {
    font-family: "Bitter", serif;
    font-size: 20px;
    font-weight: 500;
    color: #FFF;
    letter-spacing: 3%;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 768px) {
  .events-place, .events-place a {
    font-family: "Bitter", serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 3%;
    color: #FFF;
    margin-bottom: 8px;
    text-decoration: none;
  }
}
@media only screen and (max-width: 768px) {
  .events-info {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .events-name {
    width: 100%;
    max-width: 100%;
    font-family: "Bungee Inline", cursive;
    font-weight: 400;
    font-size: 40px;
    line-height: 46px;
    word-wrap: break-word;
    color: #FFF;
  }
}
@media only screen and (max-width: 768px) {
  .events-button {
    width: 100%;
    position: relative;
  }
  .events-button button {
    margin-top: 15px;
    margin-left: 0px;
    position: static;
  }
  .events-button a {
    text-align: center;
    text-decoration: none;
    font-family: "Bitter", serif;
    font-weight: 900;
    font-size: 18px;
    letter-spacing: 5%;
    color: #62CDF9;
  }
}
@media only screen and (max-width: 768px) {
  .artist-name {
    font-size: 22px;
  }
}
@media only screen and (max-width: 768px) {
  .artist-info {
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
  }
  .artist-info .info-zip-container {
    position: static;
    margin-top: 10px;
  }
  .artist-info .info-zip-container p {
    margin-bottom: 15px;
    font-size: 16px;
    max-height: 676px;
    padding-right: 10%;
  }
  .artist-info .info-zip-container p a {
    font-size: 16px;
  }
  .artist-info .info-zip-container p span {
    line-height: 26px;
  }
  .artist-info .info-zip-container button {
    margin-left: 10px;
    margin-bottom: 30px;
  }
  .artist-info .book-now {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 0px;
    position: absolute;
    top: 210px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 42px;
  }
  .artist-info .bg-img-container {
    margin-left: 0px;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
  }
  .artist-info .bg-img-container#felver {
    background-position: right;
  }
}
@media only screen and (max-width: 768px) {
  .banner {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 70px;
    height: 200px;
    background: url("./images/prugasto-sunce.svg") no-repeat center bottom/60%, linear-gradient(180deg, #FFBD85, #FFAAB1 75%, #FF97DF 100%) fixed;
  }
}
@media only screen and (max-width: 768px) {
  footer {
    height: 160px;
  }
  footer .info {
    font-size: 15px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  header nav ul li {
    padding-left: 400px; /* udaljenost teksta od lijeve margine */
  }
  #intro {
    padding-bottom: 100px;
  }
  #intro h2 {
    padding-right: 30px;
  }
  .events-container {
    margin-bottom: 30px;
  }
  .events-date {
    font-size: 28px;
    margin-bottom: 8px;
  }
  .events-place, .events-place a {
    font-size: 16px;
    margin-bottom: 8px;
  }
  .events-info {
    display: flex;
  }
  .events-name {
    font-size: 40px;
    line-height: normal;
  }
  .events-button button {
    right: 30px;
    top: 0;
  }
  .artist-name {
    font-size: 22px;
  }
  .artist-info {
    height: -moz-fit-content;
    height: fit-content;
    position: relative;
  }
  .artist-info .info-zip-container {
    position: static;
    margin-top: 20px;
  }
  .artist-info .info-zip-container p {
    margin-bottom: 15px;
    font-size: 18px;
    max-height: 434px;
    padding-right: 10%;
  }
  .artist-info .info-zip-container p a {
    font-size: 18px;
  }
  .artist-info .info-zip-container p span {
    line-height: 28px;
  }
  .artist-info .info-zip-container button {
    margin-left: 30px;
    margin-bottom: 50px;
  }
  .artist-info .book-now {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 0px;
    position: absolute;
    top: 380px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 60px;
  }
  .artist-info .bg-img-container {
    margin-left: 0px;
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
  }
  .artist-info .bg-img-container #felver {
    background-position: right;
  }
  .banner {
    height: 300px;
    padding-top: 110px;
    background: url("./images/prugasto-sunce.svg") no-repeat center bottom/50%, linear-gradient(180deg, #FFBD85, #FFAAB1 75%, #FF97DF 100%) fixed;
  }
  footer {
    height: 240px;
  }
  footer .info {
    font-size: 18px;
    line-height: 24px;
  }
}
@media only screen and (min-width: 1601px) {
  #intro p {
    max-width: 70%;
  }
  .artist-info {
    height: 906px;
  }
  .artist-info .bg-img-container {
    height: 900px;
  }
  .artist-info .info-zip-container p {
    font-size: 24px;
    max-height: 598px;
  }
  .artist-info .info-zip-container p a {
    font-size: 24px;
  }
  .artist-info .info-zip-container p span {
    line-height: 38px;
  }
  .artist-info .book-now {
    bottom: 50px;
  }
  .banner {
    height: 500px;
    padding-top: 190px;
    background: url("./images/prugasto-sunce.svg") no-repeat center bottom/40%, linear-gradient(180deg, #FFBD85, #FFAAB1 75%, #FF97DF 100%) fixed;
  }
}
@media only screen and (min-width: 2501px) {
  #intro p {
    max-width: 60%;
  }
  .artist-info {
    height: 906px;
  }
  .artist-info .bg-img-container {
    height: 900px;
  }
  .artist-info p {
    font-size: 24px;
  }
  .artist-info .book-now {
    bottom: 50px;
  }
}
@keyframes wheel-rotation {
  100% {
    transform: rotate(360deg);
  }
}
#radio-header {
  position: relative;
  height: 400px;
  padding-top: 150px;
  background: url("./images/prugasto-sunce.svg") no-repeat center bottom/40%, linear-gradient(180deg, #FFBD85, #FFAAB1 75%, #FF97DF 100%) fixed;
  padding-left: 10%;
  padding-right: 10%;
}
#radio-header a {
  position: absolute;
  top: 4%;
  right: 5%;
}

#radio-player {
  background-color: #FF7058;
  padding-top: 30px;
  padding-bottom: 40px;
}
#radio-player #player #frame {
  display: flex;
  justify-content: center;
  position: relative;
  height: 500px;
  background-image: url(./images/radio.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: auto 80%;
}
#radio-player #player #frame iframe {
  width: 500px;
  height: 100px;
  position: absolute;
  top: 159px;
}
#radio-player p {
  width: 40%;
  margin: 30px auto;
}

#music-library {
  background-color: #FFF5DC;
}
#music-library h4 {
  color: #62CDF9;
  padding-top: 60px;
  padding-bottom: 80px;
  padding-right: 10%;
}
#music-library .wheels-container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
}
#music-library .wheels-container #wheel-1 {
  width: 290px;
  height: 290px;
  animation-name: wheel-rotation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#music-library .wheels-container #wheel-2 {
  width: 290px;
  height: 290px;
  animation-name: wheel-rotation;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#music-library .wheels-container p {
  color: #FF7058;
  margin-left: 50px;
  margin-right: 50px;
  width: 43%;
  flex-shrink: 0;
}
#music-library form {
  width: 100%;
  display: block;
}
#music-library form #contact-item-container {
  margin-bottom: 50px;
}
#music-library form #contact-item-container .contact-item {
  display: block;
  margin-left: 230px;
  margin-right: 230px;
  padding-bottom: 5px;
  border-bottom: 6px solid #62CDF9;
  margin-bottom: 30px;
}
#music-library form #contact-item-container .contact-item label {
  margin-left: 20px;
  margin-right: 10px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Bitter", serif;
  color: #62CDF9;
}
#music-library form #contact-item-container .contact-item input {
  background-color: #FFF5DC;
  box-shadow: none;
  border: none;
  font-size: 20px;
  font-weight: 500;
  font-family: "Bitter", serif;
  color: #62CDF9;
}
#music-library form #contact-item-container .contact-item input:focus {
  outline: none;
}
#music-library form #contact-item-container .contact-item input::-moz-placeholder {
  display: none;
}
#music-library form #contact-item-container .contact-item input::placeholder {
  display: none;
}
#music-library form button {
  height: 90px;
  width: 100%;
  background-color: #62CDF9;
  border: none;
  box-shadow: none;
}
#music-library form button:hover {
  cursor: pointer;
  background-color: #FFC8FF;
}
#music-library form button div {
  margin: auto;
  padding: 6px;
  font-family: "Bungee Inline", cursive;
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
}
#music-library form #rs-submit-message {
  height: 90px;
  width: 100%;
  background-color: #FF7058;
}
#music-library form #rs-submit-message div {
  margin: auto;
  background-color: #FF7058;
  padding: 6px;
  text-align: center;
}

@media only screen and (min-width: 1601px) {
  #radio-header {
    height: 500px;
    padding-top: 190px;
    background: url("./images/prugasto-sunce.svg") no-repeat center 450px/40%, linear-gradient(180deg, #FFBD85, #FFAAB1 75%, #FF97DF 100%) fixed;
  }
  #music-library h4 {
    margin-right: 30%;
  }
  #music-library .wheels-container {
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
  }
  #music-library .wheels-container #wheel-1 {
    width: 400px;
    height: 400px;
  }
  #music-library .wheels-container #wheel-2 {
    width: 400px;
    height: 400px;
  }
  #music-library .wheels-container p {
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 50px;
  }
  #music-library form #contact-item-container {
    margin-bottom: 80px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  #radio-header {
    height: 300px;
    padding-top: 110px;
    background: url("./images/prugasto-sunce.svg") no-repeat center bottom/50%, linear-gradient(180deg, #FFBD85, #FFAAB1 75%, #FF97DF 100%) fixed;
  }
  #radio-player {
    padding-top: 0px;
  }
  #radio-player #player #frame {
    height: 350px;
    background-size: auto 80%;
  }
  #radio-player #player #frame iframe {
    width: 375px;
    height: 110px;
    top: 100px;
  }
  #radio-player p {
    width: 54%;
    margin: 0 auto 30px;
  }
  #music-library h4 {
    padding-left: 100px;
    padding-top: 40px;
    padding-bottom: 50px;
  }
  #music-library .wheels-container {
    padding-bottom: 50px;
    padding-right: 100px;
    padding-left: 100px;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  #music-library .wheels-container #wheel-1 {
    width: 40%;
    height: 40%;
  }
  #music-library .wheels-container #wheel-2 {
    width: 40%;
    height: 40%;
  }
  #music-library .wheels-container p {
    order: 3;
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    font-size: 18px;
  }
  #music-library form #contact-item-container {
    margin-bottom: 35px;
  }
  #music-library form #contact-item-container .contact-item {
    margin-left: 100px;
    margin-right: 100px;
  }
}
@media only screen and (max-width: 768px) {
  #radio-header {
    position: relative;
    padding-top: 70px;
    padding-left: 30px;
    padding-right: 30px;
    height: 300px;
    background: url("./images/prugasto-sunce.svg") no-repeat center bottom/70%, linear-gradient(180deg, #FFBD85, #FFAAB1 45%, #FF97DF 100%) fixed;
  }
  #radio-header a {
    width: 50px;
    height: 50px;
  }
  #radio-header a img {
    width: 100%;
    height: 100%;
  }
  #radio-player {
    background-color: #FF7058;
    padding: 40px 10px 40px 10px;
    display: flex;
    flex-wrap: wrap;
  }
  #radio-player #player {
    order: 2;
  }
  #radio-player #player #frame {
    display: block;
    position: static;
    height: auto;
    margin-top: 30px;
    margin-bottom: 35px;
    background-image: none;
    background-position: none;
    background-repeat: none;
    background-size: none;
  }
  #radio-player #player #frame iframe {
    width: 95vw;
    height: 160px;
    position: static;
    top: 0px;
  }
  #radio-player .strong-paragraf {
    order: 1;
  }
  #radio-player .paragraf {
    order: 3;
  }
  #radio-player p {
    width: 100%;
    margin: 0;
  }
  #music-library h4 {
    padding: 20px 10px;
    font-size: 42px;
    line-height: 44px;
  }
  #music-library .wheels-container {
    justify-content: space-evenly;
    padding: 0 0 50px;
    flex-wrap: wrap;
  }
  #music-library .wheels-container #wheel-1 {
    flex-shrink: 0;
    width: 45%;
    height: 45%;
  }
  #music-library .wheels-container #wheel-2 {
    flex-shrink: 0;
    width: 45%;
    height: 45%;
  }
  #music-library .wheels-container p {
    margin-left: 0px;
    margin-right: 0px;
    padding: 30px 10px 0px;
    order: 3;
    width: 100%;
  }
  #music-library form {
    margin-bottom: 50px;
  }
  #music-library form #contact-item-container {
    margin-bottom: 20px;
    padding-right: 0px;
    padding-left: 0px;
  }
  #music-library form #contact-item-container .contact-item {
    display: block;
    margin-left: 0px;
    margin-right: 0px;
  }
  #music-library form #contact-item-container .contact-item label {
    display: none;
    margin-left: 0px;
    margin-right: 0px;
    font-size: 18px;
  }
  #music-library form #contact-item-container .contact-item input {
    width: 100%;
    padding-left: 10px;
    font-size: 16px;
  }
  #music-library form #contact-item-container .contact-item input::-moz-placeholder {
    font-size: 18px;
    font-weight: 500;
    font-family: "Bitter", serif;
    color: #62CDF9;
  }
  #music-library form #contact-item-container .contact-item input::placeholder {
    font-size: 18px;
    font-weight: 500;
    font-family: "Bitter", serif;
    color: #62CDF9;
  }
  #music-library form button {
    height: 120px;
  }
  #music-library form button div {
    font-size: 42px;
    padding: 4px;
  }
  #music-library form #rs-submit-message {
    min-height: 70px;
    display: none;
  }
  #music-library form #rs-submit-message div {
    line-height: 85px;
    font-size: 13px;
    padding: 0 6px;
  }
}/*# sourceMappingURL=styles.css.map */