@import "variables";
@import "mixins";
@import "buttons";
@import "bg-images";
@import "contact-form";

#close-menu-mobile {
    display: none;
}
#closed-menu-mobile {
    display: none;
}


//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    //user-select: none;
}

//header & navigation
header {
    height: 250px;
    nav ul {
        list-style-type: none;
        li {
            padding-left: 430px; /* udaljenost glavnog teksta od lijeve margine */
            padding-top: 6px;
            padding-bottom: 6px;
            border-bottom: $bb solid $blue;
            &:first-of-type {
                padding-top: 30px;
            }
            a {
                font-family: $bungee;
                font-size: 18px;
                font-weight: 400;
                color: $blue;
                text-decoration: none;
                &:hover {
                    color: $red;
                }
            }
        }
    }
    .logo {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 100;
        img {
        width: 80%; 
        }
    }
}
// header & navigation end

//intro start
main {
    position: relative;
}
.bg-gradient {
    position: relative;
    #sunce {
        position: absolute;
        left: 260px;
        top: 250px;
        z-index: 0;
    }
}
#intro {
    position: relative;

    padding-top: 80px;
    padding-bottom: 120px;

    background: url('./images/valic-20x9.svg');
    background-position: bottom;
    background-size: 80px;
    background-repeat: repeat-x; //staviti repeat-x ako je veličina manja od 100%
    h2 {
        margin-bottom: 50px;
        user-select: auto;
        span {
            user-select: auto;
        }
    }
    p {
        max-width: 80%;
        margin-bottom: 30px;
        user-select: auto;
    }
}
//main end

//events start
//events box
.events-container {
    margin-bottom: 50px;
    &:first-of-type {
        padding-top: 100px;
    }
    &:last-of-type {
        padding-bottom: 100px;
        margin-bottom: 0;
    }
}
//date and place
.events-date {
    font-family: $bitter;
    font-size: 32px;
    font-weight: 500;
    color: #FFF;
    letter-spacing: 3%;
    line-height: 39px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.events-place, .events-place a {
    font-family: $bitter;
    font-size: 18px;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 3%;
    color: #FFF;
    margin-bottom: 8px;
    text-decoration: none;
}
//name and button
.events-info {
    display: flex;
}
//left side
.events-name {
    width: 65%; //širina flex itema
    font-family: $bungee;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    color: #FFF;
}
//right side
.events-button {
    width: 35%; //širina flex itema
    position: relative;
    button {
        margin-left: 30px;
        position: absolute;
        top: 10px;
    }
    a {
        padding-top: 16px;
        padding-bottom: 16px;
        text-align: center;
        text-decoration: none;
        font-family: $bitter;
        font-weight: 900;
        font-size: 18px;
        letter-spacing: 5%;
        color: $blue;
    }
}
//events end

//artist start
.artist {
    width: 100%;
    border-bottom: $bb solid white;
    &.red {
        background-color: $red;
    }
    &.blue {
        background-color: $blue;
    }
    &.pink {
        background-color: $pink;
    }
    &:first-of-type {
        border-top: $bb solid white;
    }
}
.artist-name {
    font-family: $bitter;
    font-weight: 800;
    font-size: 24px;
    color: #FFF;
    padding-top: 16px;
    padding-bottom: 16px;
    &:hover {
        cursor: pointer;
    }
}
.artist-info {
    border-top: $bb solid white;
    .bg-img-container {
        margin-left: 250px; // = pl-title -> da dobijemo pomak bg-img udesno
        padding-bottom: 20px;
        height: 700px;

        position: relative;

        background-size: cover;
        background-position: center center;
        // background-repeat: repeat;
        p {
            margin-left: -250px;
            margin-bottom: 20px;

            font-family: $bitter;
            font-weight: 500;
            font-size: 20px;
            color: white;
            user-select: auto;

            max-height: 455px;
            overflow: hidden;
            
            padding-top: 50px;
            padding-right: 50%;
            padding-bottom: 15px;

            
            span {
                padding: 2px;
                line-height: 34px;
                user-select: auto;
                &.red {
                    background-color: rgb($red, 1);
                    box-shadow: -3px 0 rgb($red, 1),
                                3px 0 rgb($red, 1);
                }
                &.blue {
                    background-color: rgb($blue, 1);
                    box-shadow: -3px 0 rgb($blue, 1),
                                3px 0 rgb($blue, 1);
                }
                &.pink {
                    color: $jedna-jedina-crvena;
                    background-color: rgb($pink, 1);
                    box-shadow: -3px 0 rgb($pink, 1),
                                3px 0 rgb($pink, 1);
                }
            }
        }
        button {
            margin-left: -150px; // je jednakon paddingu pl-small - 250px koliko je bg-img-cont pomaknut
        
            &:hover {
                cursor: pointer;
            }
        }
        div {
            margin-top: 20px; //isto kao padding-bottom u artist-info
            margin-left: -250px;
            width: calc(100% + 250px);

            padding-top: 6px;
            padding-bottom: 6px;

            position: absolute;
            bottom: 50px;

            font-family: $bungee;
            font-weight: 400;
            font-size: 60px;
            text-align: center;
            color: white;
            &:hover {
                cursor: pointer;
                background: white;
                color: $blue;
            }
        }
    }
}
//artist stop

//banner start
.banner {
    height: 500px;
    padding-top: 190px;
    background-color: #FFCE85; //#FFCE85
    background-image: url(./images/banner.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    a {
    display: block;
    font-family: $bungee;
    font-size: 90px;
    font-weight: 400;
    color: white;
    text-align: center;
    text-decoration: none;
    }
}
//banner stop

//footer start
footer {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
    .info {
        font-family: $bungee;
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        line-height: 34px;
        color: $red;
        user-select: auto;
        a {
            color: $red;
            text-decoration: none;
            user-select: auto;
        }
    }
}
//footer stop



//////
@import "mobile";
@import "small";
@import "large";